.texto-pequeno {
    font-size: 13px;
}

.divs-facilidades {
    width: 300px;
}

.botao-lilas {
    color: black;
}

.verde-limao {
    color: #DAFF01;
}

.posicao{
    top: 40%;
}

@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}